In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)

In [4]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-10-01 00:02:53,2019-10-01 00:14:32,N,1,126,74,1,3.10,12.0,0.50,0.5,0.00,0.0,NaN,0.3,13.30,1,1,0.0
96,2,2019-10-01 00:18:45,2019-10-01 00:29:23,N,1,42,74,1,1.64,9.5,0.50,0.5,0.00,0.0,NaN,0.3,10.80,2,1,0.0
97,2,2019-10-01 00:41:32,2019-10-01 00:52:51,N,1,75,42,1,3.17,11.5,0.50,0.5,1.50,0.0,NaN,0.3,14.30,1,1,0.0
98,2,2019-10-01 00:36:54,2019-10-01 00:54:20,N,1,92,179,1,5.48,19.5,0.50,0.5,0.00,0.0,NaN,0.3,20.80,2,1,0.0
99,2,2019-10-01 00:21:27,2019-10-01 00:26:59,N,1,129,129,1,1.02,6.0,0.50,0.5,0.00,0.0,NaN,0.3,7.30,2,1,0.0

In [5]:
pd.io.sql.getschema(df, name='yellow_taxi_data')

AttributeError: module 'pandas.io.sql' has no attribute 'getschema'

In [8]:
pd.io.sql.get_schema(df, name='green_taxi_data')

'CREATE TABLE "green_taxi_data" (\n"VendorID" INTEGER,\n  "lpep_pickup_datetime" TEXT,\n  "lpep_dropoff_datetime" TEXT,\n  "store_and_fwd_flag" TEXT,\n  "RatecodeID" INTEGER,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "passenger_count" INTEGER,\n  "trip_distance" REAL,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "ehail_fee" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "payment_type" INTEGER,\n  "trip_type" INTEGER,\n  "congestion_surcharge" REAL\n)'

In [9]:
print(pd.io.sql.get_schema(df, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [11]:
pd.to_datetime(df.lpep_pickup_datetime)

0    2019-10-01 00:26:02
1    2019-10-01 00:18:11
2    2019-10-01 00:09:31
3    2019-10-01 00:37:40
4    2019-10-01 00:08:13
             ...
95   2019-10-01 00:02:53
96   2019-10-01 00:18:45
97   2019-10-01 00:41:32
98   2019-10-01 00:36:54
99   2019-10-01 00:21:27
Name: lpep_pickup_datetime, Length: 100, dtype: datetime64[ns]

In [14]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [15]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [17]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [19]:
import psycopg2

try:
    conn = psycopg2.connect(
        host="localhost",
        database="ny_taxi",
        user="postgres",
        password="postgres",
        port=5433  # Укажите порт 5433
    )
    print("Connection successful!")
    conn.close()

except psycopg2.Error as e:
    print(f"Connection error: {e}")

Connection successful!

In [20]:
engine.connect()

In [22]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', chunksize=100000)

In [23]:
df_iter

In [24]:
df = next(df_iter)

In [25]:
len(df)

100000

In [26]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [27]:
df.head(0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [28]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: total: 6.19 s
Wall time: 11.1 s

1000

In [29]:
from time import time

In [30]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 11.175 second
inserted another chunk, took 12.013 second

C:\Users\roman\AppData\Local\Temp\ipykernel_24184\1406748514.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 11.752 second
inserted another chunk, took 7.539 second

StopIteration:

In [32]:
query = """
select count(1) from green_taxi_data;
"""
pd.read_sql(query, con=engine)

    count
0  476386

In [34]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [35]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265